<div>
  <nav>
    <div class="menuAlignment">
      <a href="/company/index"
        ><input
          type="image"
          id="back"
          style="height: 22px; width: 20px"
          src="/back.png"
          class="inlineLeft indexTopLeft"
      /></a>

      <span><h3 class="addTopMiddle">SETTINGS</h3></span>
    </div>
  </nav>
</div>
<div class="settings centered">
  <button class="deleteButton">
    <a href="/user/delete?id=<%= currentUser.id %>"><h3>DELETE USER</h3></a>
  </button>
  <br />
  <div><h5>This action cannot be reversed 🤔</h5></div>
</div>
