<div>
  <nav>
    <div class="menuAlignment">
      <a href="/user/detail?id=<%= currentUser.id %>"
        ><input
          type="image"
          id="back"
          style="height: 22px; width: 20px"
          src="/back.png"
          class="inlineLeft indexTopLeft"
      /></a>

      <span><h3 class="addTopMiddle">MY STATS</h3></span>
    </div>
  </nav>
</div>
<br />

<div>
  <canvas id="myChart"></canvas>
  <script>
    const labels = ['', '', '', '', '', ''];

    const data = {
      labels: labels,
      datasets: [
        {
          label: 'Applications in the Last 6 Weeks',
          backgroundColor: 'rgb(255, 99, 132)',
          borderColor: 'rgb(255, 99, 132)',
          data: [18, 12, 5, 7, 20, 5],
        },
      ],
    };

    const config = {
      type: 'bar',
      data: data,
      options: {},
    };
  </script>
</div>

<script>
  const myChart = new Chart(document.getElementById('myChart'), config);
</script>
<!-- /////////////////////////// -->
<!-- /////////////////////////// -->
<!-- /////////////////////////// -->
<!-- /////////////////////////// -->
