<div class="homeDivs centered">
  <h1>APPLIED4</h1>
  <h3>CAREER TRACKER</h3>
</div>

<div class="homeDivs centered">Hello</div>

<div class="homeDivs">
  <button class="half"><a href="/auth/signin">Signin</a></button>
  <button class="half"><a href="/auth/signup">Signup</a></button>
</div>
