<div class="homeDivTop centered getStartedDown">
  <h1>APPLIED4</h1>
  <h6>TRACK YOUR APPLICATIONS</h6>
</div>

<div class="centered"><h5>Keep it clean.</h5></div>
<br />
<div class="homeDivMid centered">
  <div
    id="carouselExampleControls"
    class="carousel slide"
    data-bs-ride="carousel"
  >
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="/chaos.gif" class="d-block w-100" alt="avoid" />
        <br />
        <h4 style="text-decoration: line-through">CANCEL CHAOS</h4>
      </div>
      <div class="carousel-item">
        <img
          src="/shot1.png"
          class="d-block w-100"
          alt="pic"
          style="height: 100%; width: auto"
        />
      </div>
      <div class="carousel-item">
        <img src="..." class="d-block w-100" alt="..." />
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleControls"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleControls"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>

<div class="homeDivBot centered getStartedDown">
  <button class="homeButton"><a href="/auth/signin">GET STARTED</a></button>
</div>
