<div class="homeDivTop centered">
  <h1>APPLIED4</h1>
  <h6>TRACK YOUR APPLICATIONS</h6>
</div>

<div class="homeMid centered">
  <h4>Keep track of your applications.</h4>
  <h4>Keep track of your applications.</h4>
  <h4>Keep track of your applications.</h4>
  <h4>Keep track of your applications.</h4>
  <h4>Keep track of your applications.</h4>
  <h4>Keep track of your applications.</h4>
  <h4>Keep track of your applications.</h4>
  <h4>Keep track of your applications.</h4>
  <h4>Keep track of your applications.</h4>
</div>

<div class="homeBot centered">
  <button class="homeButton"><a href="/auth/signin">GET STARTED</a></button>
</div>
